@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3daaf8;
}
.separator{
    display: none;
    border-bottom: 2px solid #3daaf8;
    width: 50%;
}
.separator1{
    border-top: 2px solid rgb(61, 170, 248);
    width: 100%;
    margin: 0 0 20px;
}
.separator2{
    border-bottom: 2px solid rgb(61, 170, 248);
    width: 100%;
    margin: 20px 0 0;
}
.wrapper{
    margin: 30px auto;
    width: auto;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
}
.wrapper .title{
    color: #3daaf8;
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    text-align: center;
}
.wrapper .visited{
    font-size: 12px;
    margin: 0 10px 10px;
    
}
.wrapper .input-block{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}
.input-block input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid #bfbfbf;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.input-block input:is(:focus){
    border: 2px solid #3daaf8;
}
.wrapper .top-sect{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(67, 170, 248, 0.3);
}
.wrapper .weather-block{
    display: flex;
    justify-content: center;
}
.weather-block img{
    align-items: center;
}
.weather-block .temp{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.weather-block .weather{
    font-size: 15px;
    text-align: center;
    margin: 5px 20px 15px;
}
.wrapper .location{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
.minmax-top{
    margin-bottom: 20px;
}
.minmax{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.minmax p{
    text-align: center;
}
.weather-block .top{
    font-size: 20px;
}
.weather-block .sect2{
    font-size: 17px;
}
.one, .two, .thre, .four, .five{
    padding: 5px 10px;
    text-align: center;    
}
.two, .thre, .four, .five{
    font-size: 13px;
}
.day-two, .day-thre, .day-four, .day-five{
    font-size: 15px;
}
.forecast{
    padding-top: 20px;
    background-color: rgba(67, 170, 248, 0.3);
}

@media screen and (max-width: 767px) {
    .wrapper .weather-block{
        flex-direction: column;
        align-items: center;
    }
    .separator{
        display: block;
        margin-bottom: 10px;
    }
}